# Amazon Dequu + Glue Mockup

In [1]:
import pandas as pd

In [2]:
### reference: https://www.data.gouv.fr/en/datasets/all-datasets/#_

df = pd.read_excel('/content/drive/MyDrive/CS/all-datasets.xlsx')

In [3]:
df.head()

                             dataset_id  ...                     geo
0  01e0f8d4-2859-4c56-afea-072b67a8147b  ...  44.1732625,-122.320073
1  044b8517-073d-4a18-bbf6-ac4186d78cdc  ...                     NaN
2  068bb939-bb40-42e3-865a-cc758c07d623  ...     50.01634,-125.24459
3  095ab0b8-c3a0-450d-a051-092047c45c20  ...      44.556369,2.257274
4  096fae20-2bc0-4176-bee5-1434c62a4f23  ...   41.276516,-71.5337805

[5 rows x 11 columns]

In [4]:
df.columns

Index(['dataset_id', 'provider_id', 'x', 'y', 'coverage_id', 'dataset_name',
       'licence', 'description', 'data_source_file', 'data_source_site',
       'geo'],
      dtype='object')

## Statistics

In [12]:
df[['x', 'y']].describe()

                  x             y
count  6.380000e+02  6.380000e+02
mean  -3.426378e+14  5.084944e+14
std    1.688873e+15  3.068742e+15
min   -1.227427e+16 -4.349286e+14
25%   -1.231160e+14  4.414458e+07
50%   -4.409720e+05  4.242528e+13
75%    6.306011e+06  4.502327e+14
max    9.550174e+14  4.070868e+16

## Completeness

In [6]:
def check_dataframe_completeness(dataframe):
  for column in dataframe:
    s = df[column]
    print(column, 'has', s.isna().sum(), 'empty cells.')

In [7]:
check_dataframe_completeness(df)

dataset_id has 0 empty cells.
provider_id has 0 empty cells.
x has 4 empty cells.
y has 4 empty cells.
coverage_id has 0 empty cells.
dataset_name has 0 empty cells.
licence has 642 empty cells.
description has 0 empty cells.
data_source_file has 70 empty cells.
data_source_site has 41 empty cells.
geo has 4 empty cells.

## Format Consistency

In [8]:
!pip install validators

Collecting validators
  Downloading https://files.pythonhosted.org/packages/db/2f/7fed3ee94ad665ad2c1de87f858f10a7785251ff75b4fd47987888d07ef1/validators-0.18.2-py3-none-any.whl
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from validators) (1.15.0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from validators) (4.4.2)
Installing collected packages: validators
Successfully installed validators-0.18.2

In [9]:
import validators

In [10]:
def check_uuid_consistency(serie):

  count_invalid_entries = 0

  for row in serie:
    test = validators.uuid(row)
    if not test:
      print('Entry', row, ' is not valid.')

In [11]:
check_uuid_consistency(df.dataset_id)

Entry ghana-feed  is not valid.
Entry ni-esteli  is not valid.
Entry gtfs_israel  is not valid.
Entry ni-managua  is not valid.
Entry ni-national-1  is not valid.